<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/my-style.css">
        <!--Bootstrap-->
        <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block extra_css %}{% endblock extra_css %}
        <title>{% block title %}Learning Activity Capture{% endblock title %}</title>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="{% url lrs.views.home %}">TechSmith Learning Activity Capture</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav pull-right">
                            {% if user.is_authenticated %}
                            <li><a href="{% url lrs.views.me %}">{{user.username}}</a></li>
                            <li><a href="{% url logout %}">logout</a></li>
                            {% else %}
                            <li><a href="{% url login %}">login</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container">
            <div class="row">
                <div class="span12 content text-center">
                    <h1>{% block heading %}Learning Activity Capture{% endblock heading %}</h1>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="content span12">
                {% block content %}{% endblock content %}

                <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
                <script src="{{ STATIC_URL }}scripts/bootstrap.min.js"></script>
            
                {% block extra_js %}{% endblock extra_js %}
                </div>
            </div>
        </div>
    </body>
</html>    