{% extends "base.html" %}
{% block content %}
<ul>
  <li>Register a user via HTTP
    <ul>
      <li>Visit our <a href="{% url lrs.views.register %}">register</a> page</li>
      <li>Create a username and supply an email address with it</li>
      <li>Click register!</li>
    </ul>
  </li>
  <br />
  <li>Resources
    <ul>
      <li>Visit ADL-LRS GitHub prototype <a href="https://github.com/adlnet/experienceapi_client_examples">page</a>
       to run some of the updated 1.0.0 prototypes against the LRS</li>
      <li>Begin recording your online learning interactions with our Learning Activity Capture Chrome Extension!<br>
        Visit the GitHub <a href="https://github.com/Lindy21/LACChromeExtension">here</a>.</li>
      <li>Record quiz results from a sample Smart Player Quiz <a href="http://cse.msu.edu/~jonesd52/next/SmartPlayer">here</a></li>
      <li>To record the offline learning interactions on your PC, visit our GitHub Desktop Capture <a href="https://github.com/QuirogaM/cse498-desktop/tree/master">here</a>.
      </li>
    </ul>
  </li>
  <br />
  <li>Statement Validator
    <ul>
      <li>Want to make sure your statement is valid? Check it <a href="{% url lrs.views.stmt_validator %}">here
    </a>
      </li>
    </ul>
  </li>
</ul>
{% endblock content %}